{% extends "layout.html" %}

{% block content %}
    <h1>Make a Transaction</h1>

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Make Your Transaction</legend>
                <div class="form-group">
                    {{ form.receiver.label(class="form-control-label") }}

                    {% if form.receiver.errors %}
                        {{ form.receiver(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.receiver.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.receiver(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.amount.label(class="form-control-label") }}
                    {{ form.amount(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content%}
